tr:nth-of-type(2n + 1) {
	/* background-color: rgb(27, 30, 31); */
	background-color: var(--ant-color-fill-secondary);
}

.allowed td {
	background-color: rgba(22, 199, 132, 0.1) !important;
}

.blocked td {
	background-color: rgba(245, 34, 45, 0.1) !important;
}

.ant-form-item,
.ant-form-item-margin-offset {
	margin-bottom: 8px;
}
