:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #3c8dbc;
	text-decoration: inherit;
}
a:hover {
	color: #72afd2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.ant-table-thead > tr:first-child th:first-child {
	border-top-left-radius: 0 !important;
}

.ant-table-thead > tr:first-child th:last-child {
	border-top-right-radius: 0 !important;
}

/* Also target container if table is inside Card */
.ant-table-wrapper .ant-table-thead > tr:first-child th:first-child {
	border-top-left-radius: 0 !important;
}

.ant-table-wrapper .ant-table-thead > tr:first-child th:last-child {
	border-top-right-radius: 0 !important;
}

.ant-progress-line.ant-progress-status-exception .ant-progress-track {
	background-color: #dc0a0c;
}
